
@font-face {
  font-family: Poppins;
  src: url(fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: Poppins-light;
  src: url(fonts/Poppins-Light.ttf);
}

@font-face {
  font-family: Poppins-extrabold;
  src: url(fonts/Poppins-ExtraBold.ttf);
}

@font-face {
  font-family: Poppins-semibold;
  src: url(fonts/Poppins-SemiBold.ttf);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

label {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  line-height: 1.5em;
  display: flex;
  flex-direction: column;
  color: #172b4d;
  background-image: url("./header-shapes mobile.png");
  background-repeat: no-repeat;
  background-position: 0 8.0375em;
  
}

.toogleNav {
  display: none;
}

.bar {
  display: block;
  width: 20px;
  margin: 3px auto;
  height: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #6070ff;
}

header {
  display: flex;
  font-weight: 700;
  font-family: Poppins-semibold, sans-serif;
  font-size: 1.125em;
  box-sizing: border-box;

  /* Primary/B400 */
  color: #6070ff;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
  height: 40%;
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 14%;
}

.section1 {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: auto;
  padding:0px;
  margin-top: 2.5em;
}

.section1 #greetings {
  font-size: 2.5em;
  line-height: 1.4em;
  display: flex;
  font-family: Poppins-extrabold, sans-serif;
  margin-top: 2.3em;
  margin-bottom: 0.32em;
  margin-left: 7%;
  margin-right: 7%;
}

.section1 #details {
  line-height: 1.4em;
  text-decoration: solid;
  margin-left: 7%;
  margin-right: 7%;
}

footer {
  font-size: 1em;
  font-weight: 600;
  font-style: normal;
  line-height: 1.5em;
  color: #7f8cff;
  margin-top: 15px;
  margin-left: 7%;
  margin-right: 7%;
  display: flex;
  flex-direction: column;
}

footer ul {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  align-items: start;
}

footer li {
  width: 40px;
}

@media (max-width: 375px) {
  .switch {
    display: block;
    cursor: pointer;
    position: fixed;
    top: 1rem;
    right: 1rem;
  }
}

@media (max-width: 768px) {
  .switch {
    display: none;
  }
}
