
@font-face {
  font-family: Poppins;
  src: url(fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: Poppins-light;
  src: url(fonts/Poppins-Light.ttf);
}

@font-face {
  font-family: Poppins-extrabold;
  src: url(fonts/Poppins-ExtraBold.ttf);
}

@font-face {
  font-family: Poppins-semibold;
  src: url(fonts/Poppins-SemiBold.ttf);
}

a {
  text-decoration: none;
  color: grey;
}

a:hover {
  color: #172b4d;
}

li {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  line-height: 1.5em;
  display: grid;
  grid-template-columns: auto;
  color: #172b4d;
  background-image: url("./images/header-shapes mobile.svg");
  background-repeat: no-repeat;
  background-position: 0 8.0375em;
  background-attachment: scroll;
  overflow-y: scroll;
  height: 100%;
}

.toogleNav {
  display: none;
}

.bar {
  display: block;
  width: 20px;
  margin: 3px auto;
  height: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #6070ff;
  overflow-y: scroll;
}

header {
  display: flex;
  font-weight: 700;
  font-family: Poppins-semibold, sans-serif;
  font-size: 1.125em;
  box-sizing: border-box;

  /* Primary/B400 */
  color: #6070ff;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
  height: 40%;
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 14%;
}

.section1 {
  border-radius: 10px;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 3%;
  padding-bottom: 10%;
}

.section1 > h1 {
  font-size: 2.5em;
  line-height: 1.4em;
  font-family: Poppins-extrabold, sans-serif;
  margin-top: 2.3em;
  margin-bottom: 0.32em;
}

.section1 > h2 {
  font-size: 32px;
  font-family: Poppins-extrabold, sans-serif;
  margin-top: 0.3em;
  margin-bottom: 0.32em;
}

.section1 > p {
  text-decoration: solid;
  padding: 0;
}

.section {
  border: 1px solid rgb(224, 223, 223);
  border-radius: 10px;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 3%;
  padding-bottom: 10%;
}

.imgalin {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.section,
.section2 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: auto;
  margin-top: 2.5em;
  margin-left: 7%;
  margin-right: 3%;
}

.section > h1 {
  font-size: 2.5em;
  line-height: 1.4em;
  font-family: Poppins-extrabold, sans-serif;
  margin-top: 2.3em;
  margin-bottom: 0.32em;
}

.section > h2 {
  font-size: 32px;
  font-family: Poppins-extrabold, sans-serif;
  margin-top: 0.3em;
  margin-bottom: 0.32em;
}

.section > p {
  text-decoration: solid;
  padding: 0;
}

.section .sublinks {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  margin-bottom: 5%;
  font-weight: 500;
}

.sublinks > ul {
  padding: 0;
  display: flex;
  width: 70%;
  justify-content: space-around;
  flex-direction: row;
  list-style-type: disc;
  color: grey;
}

.sublinks > ul > li {
  list-style-type: disc;
}

.sublinks .sublinksround {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  margin-bottom: 5%;
}

.sublinksround > ul {
  padding: 0;
  display: flex;
  width: 70%;
  justify-content: space-around;
  flex-direction: row;
  list-style-type: disc;
  margin-top: 5%;
  margin-bottom: 10%;
  color: #6070ff;
}

.sublinksround > ul > li {
  background-color: #ebebff;
  border: 1 solid #ebebff;
  border-radius: 8px;
  padding: 8px;
}

.section .seeproject {
  font-weight: 600;
  font-size: 15px;
  margin-top: 10px;
  border: 1px solid #396df2;
  border-radius: 8px;
  color: #396df2;
  padding: 12px;
  width: 40%;
}

.seeprojectfooter a {
  font-weight: 600;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid #396df2;
  border-radius: 8px;
  color: #396df2;
  padding: 12px;
  width: 50%;
  display: block;
}

.connect a {
  font-weight: 600;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #396df2;
  padding: 12px;
}

.section #details {
  text-decoration: solid;
  margin-left: 7%;
  margin-right: 7%;
}

.section #tronic {
  background-color: gray;
  border-radius: 50px;
}

footer {
  font-size: 1em;
  font-weight: 600;
  font-style: normal;
  line-height: 1.5em;
  color: #7f8cff;
  margin-top: 10%;
  margin-left: 7%;
  margin-right: 7%;
}

.socials {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-evenly;
  margin-bottom: 7%;
}

.socials ul {
  display: flex;
  text-decoration: none;
}

.tech {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-bottom: 7%;
}

.tech ul {
  display: flex;
  text-decoration: none;
  flex-direction: row;
  justify-content: space-between;
}

.contact {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-image: url("./images/contact.svg");
  background-repeat: no-repeat;
  background-position: 0 2.0375em;
  padding-top: 35%;
  padding-left: 5%;
  margin-left: 7%;
  margin-right: 7%;
  min-height: 120vh;
}

.contact h1 {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
}

.contact p {
  color: #fff;
  padding-top: 5%;
  font-size: 1em;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  font-family: Poppins-Light, sans-serif;
  margin-bottom: 15%;
  margin-right: 5%;
}

input[type=text] {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 10px;
  border: 1px solid #2d9fd9;
  width: 90%;
  height: 45px;
  font-size: 1.2em;
  color: #172b4d;
  padding: 5%;
  margin-bottom: 5%;
}

input[type=text]:focus {
  outline: none;
  border: 1px solid #a0d18c;
  color: #172b4d;
}

textarea {
  outline: none;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 10px;
  border: 1px solid #2d9fd9;
  width: 90%;
  height: 60%;
  font-size: 0.9em;
  color: #b3bac5;
  padding: 5%;
  font-family: inherit;
}

.submit-button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 1.2em;
  border: 1px solid #2d9fd9;
  color: #6070ff;
  padding: 3%;
  font-family: inherit;
}

@media (max-width: 375px) {
  .switch {
    display: block;
    cursor: pointer;
    position: fixed;
    top: 1rem;
    right: 1rem;
  }
}

@media (max-width: 768px) {
  .switch {
    display: none;
  }
}
